    <ul>
    {{ range first 4 (where site.Pages "Type" "post") }}
    <li class="item">
      <div class="media">
      <div class="media-left mr-3">
      <a class="pull-left" href="{{ .RelPermalink }}">
        {{ if isset .Params "image" }}
        <img class="media-object" src="{{ .Params.image | relURL }}" alt="{{ .Title }}" loading="lazy">
        {{ end }}
      </a>
      </div>
      <div class="media-body">
        <h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
        <p>{{ .Summary | truncate 50 }}</p>
      </div>
    </div>
    </li>
    {{ end }}
  </ul>
