// Put custom SCSS rules in this file
// Documentation: https://sass-lang.com/documentation
.img-external {
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    background-color:white;
}
img.img-external {
    padding: 4px;
    max-height:50px;
}
img.around{
    clip-path:ellipse(50% 50%);
}
div.form-group-h {
    display: none;
}