{{ define "main" }}

<section class="story">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img loading="lazy" src="{{ .Params.my_story.img }}" class="responsive" alt="story">
        </div>
        <div class="col-lg-6">
          <div class="story-content">
            <h2>{{ i18n "my_story" }}</h2>
            <h5 class="tagline">{{ .Params.my_story.first | safeHTML }}</h6>
              <p>{{ .Params.my_story.second | safeHTML }}</p>
              {{ if not (eq .Params.my_story.mission "") }}
              <h6>{{ i18n "mission" }}</h6>
              <p>{{ .Params.my_story.mission | safeHTML }}</p>
              {{ end }}
              {{ if not (eq .Params.my_story.vision "") }}
              <h6>{{ i18n "vision" }}</h6>
              <p>{{ .Params.my_story.vision | safeHTML }}</p>
              {{ end }}
          </div>
        </div>
      </div>
    </div>
 </section>

 <!--  {{ partial "_video.html" . }} -->
  
  {{ partial "_galerie.html" . }}

<section class="appoinment-section section">
  <div class="container">
    <div class="row">
  {{ partial "_faq.html" . }}
  {{ partial "_contactform.html" . }}
    </div>
  </div>
</section>

{{ end }}