{{ define "main" }}
<section class="section contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5 ">
                <!-- address start -->
                <div class="address-block">
                  <!-- Location -->
                  <div class="media">
                    <i class="far fa-map"></i>
                    <div class="media-body">
                      <h3>{{ i18n "address_title" }} </h3>
                      <p>{{ site.Params.contact.address | safeHTML }}</p>
                    </div>
                  </div>
                  <!-- Phone -->
                  <div class="media">
                    <i class="fas fa-phone"></i>
                    <div class="media-body">
                      <h3>{{ i18n "phone" }}</h3>
                      <p>
                        {{ site.Params.contact.phone }}
                      </p>
                    </div>
                  </div>
                  <!-- Email -->
                  <div class="media">
                    <i class="far fa-envelope"></i>
                    <div class="media-body">
                      <h3>{{ i18n "email" }}</h3>
                      <p>
                        {{ site.Params.contact.email }}
                      </p>
                    </div>
                  </div>
                </div>
                <!-- address end -->
            </div>

            {{ partial "_contactform.html" . }}
        </div>
    </div>
</section>

<section class="map">
    <div> 
        <div id="mapdiv" class="smallmap"></div>
        <script  src="https://openlayers.org/api/2.13.1/OpenLayers.js"></script>
        <script>
              map = new OpenLayers.Map("mapdiv");
              map.addLayer(new OpenLayers.Layer.OSM());

              var lonLat = new OpenLayers.LonLat( {{ site.Params.contact.map_longitude }} ,{{ site.Params.contact.map_latitude }}  )
                  .transform(
                      new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                      map.getProjectionObject() // to Spherical Mercator Projection
                  );
                  
              var zoom=16;

              var markers = new OpenLayers.Layer.Markers( "Markers" );
              map.addLayer(markers);
              
              markers.addMarker(new OpenLayers.Marker(lonLat));
              
              map.setCenter (lonLat, zoom);         
        </script>
  </div>
</section>
{{ end }}