{{ define "main" }}

<!-- checking blog -->
{{ if or (eq .Section "post") (eq .Section "posts") (eq .Section "blog") (eq .Section "blogs") (eq .Section "categories") (eq .Section "tags") }}

<section class="blog-section style-four section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="left-side">
				{{ $paginator := .Paginate .Data.Pages -}}
					{{ range $paginator.Pages -}}
						<div class="post item-holder">
							<div class="image-box">
								{{ if isset .Params "video" -}}
									<figure>
										<video class="image-blog-list" controls autoplay poster="{{ .Params.bgi_title | relURL }}" muted>
											<source src="{{ .Params.video | relURL }}" type=video/mp4>
										</video>
									</figure>
								{{ else if isset .Params "image" -}}
									<figure>
										<a href="{{ .RelPermalink }}"><img loading="lazy" class="image-blog-list" src="{{ .Params.image | relURL }}" alt="{{ .Title }}"></a>
									</figure>
								{{- end }}
							</div>
							<div class="content-text">
								<a href="{{ .RelPermalink }}"><h4>{{ .Title }}</h4></a>
								<!--span>{{ partial "date_i18n.html" (dict "date" .PublishDate "lang" .Page.Language.Lang) }}</span-->
									<a href="{{ .RelPermalink }}"><p>{{ .Summary }}</p></a>
									<div class="link-btn"><a href="{{ .RelPermalink }}" class="btn-style-one">{{ i18n "read_more" }}</a></div>
							</div>
						</div>
					{{- end }}

					{{ partial "_pagination.html" . }}
				</div>
			</div>
			<div class="col-lg-3"> 
				{{ partial "blog-sidebar.html" . }}
			</div>
		</div>
	</div>

	<!-- regular page -->
	{{ else -}}
	{{ .Render "default" }}
	{{- end }}
	<!-- /regular page -->
</section>
{{ end }}
