{{ define "main" }}

<section class="tarif">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img loading="lazy" src="{{ .Params.img }}" class="responsive" alt="tarif">
        </div>
        <div class="col-lg-6">
          <div class="tarif-content">
            <h2>{{ i18n "tarif" }}</h2>
              {{ range .Params.tarif }}
              <div class="col-sm-6">
                <div class="item">
                  <h5 class="tagline"><i class="fa {{ .icon }}"></i> {{ .text }}</h5>
                  {{ range .value }}
                    <p>{{ . }}</p>
                    {{ end }}
                </div>
              </div>
              {{ end }}

          </div>
        </div>
      </div>
    </div>
 </section>
 {{ end }}