<section class="map">
    <div> 
        <div id="mapdiv" class="smallmap"></div>
        <script  src="https://openlayers.org/api/2.13.1/OpenLayers.js"></script>
        <script>
              
              map = new OpenLayers.Map("mapdiv");
              map.addLayer(new OpenLayers.Layer.OSM());

              var lonLat = new OpenLayers.LonLat( {{ site.Params.contact.map_longitude }} ,{{ site.Params.contact.map_latitude }}  )
                  .transform(
                      new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                      map.getProjectionObject() // to Spherical Mercator Projection
                  );

                                
              var zoom=16;
              var markers = new OpenLayers.Layer.Markers( "Markers" );
              
              
              markers.addMarker(new OpenLayers.Marker(lonLat));  
              map.addLayer(markers);      
              
              map.setCenter (lonLat, zoom);         
              
              var features = [];
var circle = new ol.geom.Circle([-1500, 0], 1000);
features.push(new ol.Feature({
    geometry: circle
}));
var vectorSource = new ol.source.Vector({
    features: features
});
var layer = new ol.layer.Vector({
    source: vectorSource,
    style: [
    new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'blue',
            width: 3
        }),
        fill: new ol.style.Fill({
            color: 'rgba(0, 0, 255, 0.1)'
        })
    })]
});

/* Example of a low poly circle */
var features2 = [];
var circle2 = new ol.geom.Circle([1500, 0], 1000);
var lowpoly = ol.geom.Polygon.circular(
    /* WGS84 Sphere */
    new ol.Sphere(6378137),
    circle2.getCenter(),
    circle2.getRadius(),
    /* Number of verticies */
    64);
features2.push(new ol.Feature({ geometry: lowpoly }));
var vectorSource2 = new ol.source.Vector({
    features: features2
});
var layer2 = new ol.layer.Vector({
    source: vectorSource2,
    style: [
    new ol.style.Style({
        stroke: new ol.style.Stroke({
            color: 'red',
            width: 3
        }),
        fill: new ol.style.Fill({
            color: 'rgba(255, 0, 0, 0.1)'
        })
    })]
});

map.addLayer(layer);
map.addLayer(layer2);

/*var map = new ol.Map({
    layers: [layer, layer2],
    target: 'mapdiv',
    view: new ol.View({
        center: [0, 0],
        zoom: 14
    })
}); */
        </script>
  </div>
</section>