<div class="demo10">
    <div class="container">
        {{ range .Params.tarif }}
        <h3 class="tarif">{{ .title }}</h3>
        <div class="row">
            {{ range .data }}
            <div class="col-md-2 col-sm-6">
                <div class="pricingTable10">
                    
                    <div class="pricing-content">
                        <ul><!-- html dedie au design --></ul>
                    </div>
                    <div class="pricingTable-header">
                        <h3 class="heading">{{ .label }}</h3>
                        <span class="price-value">
                            {{ .price }}
                        </span>
                    </div>
                    
                </div>
            </div>
            {{ end }}
        </div>
        {{ end }}  
    </div>
</div>