<!--Page Title-->
{{ if not (in .Kind "home") }}
{{ if isset .Params "bgi_title" }} 
<section class="page-title text-center" style="background-image:url('{{ .Params.bgi_title | relURL}}');">
{{ else }}
<section class="page-title text-center" style="background-image:url('{{ site.Params.bgi_title | relURL}}');">
{{ end }}
    <div class="container">
        <div class="title-text breadcrumbs">
            <h1>{{ .Title }}</h1>
            {{ $part2 := .Title}}
            <ul class="title-menu clearfix">
                <li>
                    <a href="/index.html" style="font-weight: normal;">{{ i18n "home" }}</a>
        {{ .Scratch.Set "permalinkparts" (split .RelPermalink "/") }}
        {{ range $index, $part := (.Scratch.Get "permalinkparts") }}
            {{ range $i, $num := (seq 10) }}
                {{ if ge $index $i }}
                    {{ if eq $i 0 }}
                        {{ $.Scratch.Set "url" (index ($.Scratch.Get "permalinkparts") $i) }}
                    {{ else }}
                        {{ $.Scratch.Add "url" (print (index ($.Scratch.Get "permalinkparts") $i) "/") }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ if gt (len $part ) 0 }}
                    {{ if or (in $part "tags") (eq $part "categories") }}
/&nbsp;&nbsp;</li><li> <a href="/blog"  style="font-weight: normal;">Blog</a>
                    {{ else }}
/&nbsp;&nbsp;</li><li> <a href="/{{ $.Scratch.Get "url" }}"  style="font-weight: normal;">{{ $part2 }}</a>   
                    {{ end }}
            {{ end }}
        {{ end }}
            </li>
            </ul>
        </div>
    </div>
</section>
{{ end }}
<!--End Page Title-->