<!--footer-main-->
<footer class="footer-main">
	<div class="footer-top">
	  <div class="container">
		<div class="row justify-content-between">
		  <div class="col-lg-4 mb-5 mb-lg-0">
			<div class="about-widget">
				{{ partial "_logo.html" . }}
			  <p>{{ site.Params.desc_footer }}</p>
			  <ul class="location-link">
				<li class="item">
					<i class="fas fa-user"></i>
					<p>{{ site.Params.author | safeHTML }}</p>
				  </li>
				<li class="item">
				  <i class="fas fa-map-marker-alt"></i>
				  <p>{{ site.Params.contact.address | safeHTML }}</p>
				</li>
				<li class="item">
				  <i class="far fa-envelope" aria-hidden="true"></i>
				  <a href="mailto:{{ site.Params.contact.email }}">
					<p>{{ site.Params.contact.email }}</p>
				  </a>
				</li>
				<li class="item">
				  <i class="fas fa-phone" aria-hidden="true"></i>
				  <p>{{ site.Params.contact.phone }}</p>
				</li>
			  </ul>
			  <ul class="list-inline social-icons">
				{{ .Scratch.Set "isFooter" "yes" }}
				{{ partial "_socialmedia.html" . }}
			  </ul>
			</div>
		  </div>
		  
		  <div class="col-lg-4 col-md-7">
			<div class="social-links">
			  <h2>{{ i18n "latest_posts" }}</h2>
			  {{ partial "widgets/recent_posts.html" . }}
			</div>
		  </div>
		</div>
	  </div>
	</div>
	{{ partial "_subfooter.html" . }}
  </footer>
  <!--End footer-main-->
  
  <!-- scroll-to-top -->
  <div id="back-to-top" class="back-to-top">
	<i class="fa fa-angle-up"></i>
  </div>
  
  </div>
  <!--End pagewrapper-->
  
  
  <!--Scroll to top-->
  <div class="scroll-to-top scroll-to-target" data-target=".header-top">
	<span class="icon fa fa-angle-up"></span>
  </div>
</div> <!-- end div page wrapper -->
  

<!-- JS plugins -->
{{ range site.Params.plugins.js }}
<script src="{{ .link | relURL }}" {{ .attributes | safeHTMLAttr }}></script>
{{ end }}

<!-- Main script -->
{{ $script := slice (resources.Get "js/script.js") (resources.Get "js/custom.js") | resources.Concat "js/bundled.js" | minify }}
<script src="{{ $script.RelPermalink }}"></script>

  