{{ define "main" }}

{{ partial "_slider.html" . }}

<section class="cta">
    <div class="container">
      <div class="cta-block row no-gutters">
        <div class="col-lg-4 col-md-6 emmergency item">
          <i class="fa fa-phone"></i>
          <h2>{{ i18n "emergency" }} </h2>
          <a href="tel:{{ site.Params.contact.phone }}">{{ site.Params.contact.phone }}</a>
          <p>{{ .Params.emergency }}</p>
        </div>
        <div class="col-lg-4 col-md-6 top-doctor item">
          <i class="fa fa-hand-holding-heart"></i>
          <h2>{{ i18n "title" }}</h2>
          <p>{{ site.Params.definition }}</p>
          <!-- <a href="/service" class="btn btn-main">Services</a> -->
        </div>
        <div class="col-lg-4 col-md-12 working-time item">
          <i class="fa fa-clock"></i>
          <h2>{{ i18n "opening_hours" }}</h2>
          <ul class="w-hours">
            {{ range site.Params.opening }} 
              <li>{{ .day }} <span>{{ .hour }}</span></li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </section>

 
  <!-- points clefs section-->
<section class="feature-section section bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="image-content">
					<div class="section-title text-center">
						<h3>{{ i18n "main_points" }}</h3>
					</div>
					<div class="row">
            {{ range .Params.keypoints }}
            <div class="col-sm-6">
							<div class="item">
								<h3 class="mb-2"><i class="fa {{ .icon }}"></i> {{ .title }}</h3>
								<p>{{ .text }}</p>
							</div>
						</div>
            {{ end }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End points clefs section-->

{{ partial "_map.html" . }}

{{ if .Params.testimonial_enable }}
{{ partial "_testimonials.html" . }}
{{ end }}
<!-- End testimonial-section -->


{{ end }}